.figure__img-- {
	&woman {
		background-image: url('../img/samp/woman.png');
		padding-bottom: (212% / 100 * 100);
		// transform: rotate(-10deg);
	}
	&nigga {
		background-image: url('../img/samp/nigga.png');
		padding-bottom: (208% / 134 * 100);		
	}
}