// Стили для .figure в header.
// Здесь только для вариаций.
.figure-- {
	&woman {
		top: -30px;
		left: (115% / 1366 * 100);
		max-width: 102px;
	}
	&nigga {
		top: -28px;
		right: (180% / 1366 * 100);
		max-width: 137px;	
	}
}
@import '__img.scss';