.mainPageFooter {
	position: absolute;
	bottom: -11%;
	left: 10vw;
	width: 80vw;
	@include breakpoint($xs) {
		bottom: -1.5%;
	}
	@include breakpoint($xxs) {
		bottom: -3.5%;
		text-align: center;
	}
	& * {
		@include breakpoint($xxs) {
			float: none;			
		}
	}
}
@import '__author.scss';
@import '__icon.scss';