.server__status {
	position: relative;
	@extend .defaultTopMargin;
	&, > .bar {
		height: 30px !important;
		border-radius: 0 !important;
	}
	&--text {
		position: absolute;
		top: -28px;
		left: 45%;
	}
}

.server__status--minecraft {
	background-color: $paleGreen !important;
	& > .bar {
		background-color: $green !important;
	} 

}