$lightGray: #ececec;
$darkenLightGray: #e0e0e0;
$darkGray:  #1c1b1b;
// $baseColor: '#000';
$darkGreen: #185c47;
$green: #56cca6;
$paleGreen: #269170;
$darkRed: #6c4040;
$gray: #9c9c9c;
$shadow: rgba(0, 0, 0, .6);
$darkBrown: #231001;
$darkBlue: #0c1e33;
$blue: #183c66;
$orange: #ba7700;
$paleOrange:  #e4c183;
$brown: #754a00; 
$shadow: rgba(0, 0, 0, .6);
$purple: #30014c;
$limon: #cbc963;


// font
$baseColorFont: $darkGray;
$baseLinkColor: $gray !important;
$baseHoverLinkColor: $lightGray !important;
$baseHoverLinkBackgroundColor:  #917569;
$baseVisitedLinkColor:$darkGray;
$baseActiveLinkColor: $darkGray;
$baseFocusLinkColor: $darkGray;
