.userCard {
	@include center-block;
	margin-top: 2em $i;
	@extend %importantNavItemShadow;
}

.userCard, .userCard__avatar {
	border-radius: 15px $i;

}
.userCardInfo__name, .userCardInfo__status, .userCardInfo__balance {
	&--minecraft {
		color: $lightGray $i;
	}
	// &--samp {
	// 	color: $lightGray $i;
	// }
}

.userCardInfo, .userCardButtons {
	&--minecraft {
		background-color: $mineBrown $i;
	}
	// &--samp {
	// 	background-color: $blue $i;
	// }
}
@import 'userCardInfo/userCardInfo.scss';
@import 'userCardButtons/userCardButtons.scss';
@import 'changeAvatarZone/changeAvatarZone.scss';
@import '__avatar.scss';