.changeAvatarZone {
	height: 49%	;
	@extend .text-center;
	color: $lightGray;
	opacity: 0;
	transition: opacity 1s;
	cursor: pointer;
	& *, & {
		width: 100%;
	}
	& p, & {
		position: absolute;
	}
	& p {
		bottom: 1%;
	}
	&:hover {
		opacity: 1;
	}
}

@import '__zone.scss';