.brand {
	@include center-block;
	max-width: 345px;
	@extend %relative;
}

.brand--minecraft {
	top: 80px;
	@include breakpoint($sm) {
		top: 50px;
	} 
	@include breakpoint($xxs) {
		top: 90px;	
	}	
}


@import '__name.scss';