.brand {
	@include center-block;
	max-width: 345px;
	@extend %relative;
}

.brand--minecraft {
	top: 80px;
	@include breakpoint($xxs) {
		top: 90px;	
	}	
}
.brand--samp {
	top: 64px;
	@include breakpoint($xs) {
		top: 145px;	
	}	
}

@import '__name.scss';