

.projects {
	width: span(5);
	@include center-block;
	@include breakpoint($md) {
		width: span(6);
	}
	@include breakpoint($sm) {
		width: span(7);
	}
	@include breakpoint($xs) {
		width: span(8);
	}
	@include breakpoint($xxs) {
		width: span(12);
	}
} 
.projects--minecraft {
	margin-top: 120px;	
	@include breakpoint($md) {
		margin-top: 125px;
	}
	@include breakpoint($sm) {
		margin-top: 130px;
	}
}
.projects--samp {
	margin-top: 100px;
}

.projectsNav {
	width: 100%;
	justify-content: space-around ;
}
@import '__button.scss';