.contentWrapper {
	@include susy-clearfix;
	& > .container {
		@include span(9);
		padding: 75px 0 10% 20%;
		@include breakpoint($lg) {
			padding-left: 30%;
		}
		// @extend .defaultTopPadding;
		@include breakpoint($md) {
			@include span(8);
		}
		@include breakpoint($sm) {
			@include span(7);
			padding-left: 15%;
		}
		@include breakpoint($xs) {
			@include span(10);
			padding-left: 10%;
			padding-right: 10%;
		}
	}
}