.navigation__closeMenuButton, .navigation__openMenuButton {
	@extend %absolute;
	color: $lightGray;
}
.navigation__openMenuButton {
  top: 6px;
  left: 100%;
  margin-left: calc(-48.5% + -27px);
  background-color: transparent;
  @include breakpoint($xs) {
	display: block !important;
  }
}

.navigation__closeMenuButton {
	top: 15px;
	right: 15px;
	display: none !important;
	@include breakpoint($xs) {
		display: block !important;
	}
}
