.navigaton {
  width: span(12);
  z-index: 3;
  @include breakpoint($xs) {
    position: absolute;
    width: 100%; 
    margin: 0;
    height: 44px;
    left: 0;
  }
}
.navigation--minecraft {
  @include breakpoint($xs) {
    top: 50px;
    
  }
}
.navigation--samp {
  margin-top: (35% / 387) * 100;
  @include breakpoint($sm) {
     margin-top: (40% / 387) * 100;
  }
  @include breakpoint($xxs) {
    bottom: 25px;
  }
}

@import '__openMenuButton.scss';
@import 'navList/navList.scss';