$lightGray: #ececec;
$darkenLightGray: #e0e0e0;
$darkGray:  #1c1b1b;
$baseColorFont: $darkGray;
$baseLinkColor: $darkGray;
$baseHoverLinkColor: $lightGray;
$baseVisitedLinkColor:$darkGray;
$baseActiveLinkColor: $darkGray;
$baseFocusLinkColor: $darkGray;
// $baseColor: '#000';
$darkGreen: #185c47;
$green: #56cca6;
$paleGreen: #269170;
$darkRed: #6c4040;
$gray: #9c9c9c;
$shadow: rgba(0, 0, 0, .6);
$darkBrown: #231001;
$darkBlue: #0c1e33;
$blue: #183c66;
$orange: #ba7700;
$paleOrange:  #e4c183;
$brown: #754a00; 
$shadow: rgba(0, 0, 0, .6);
// Не обязательные цвета
$yellow: #ffe276;
$red: #bf4b49;
$yellow: #fedd00;
$whiteYellow: #fff8c9;
$whiteOrange: #fad17a;
$limon: #f5ff9a;
$purple: #5f4575;
