.projectsNav__button {
	padding: 1% 0 ;
	@extend .prettyTopMargin;
	border-radius: 5px;
	width: span(5);
	max-width: 100px;
	box-shadow: 0 5px 15px;
	color: $darkGray !important;
	@include smooth-transition-button();

	&--minecraft {
		background-color: $mineBlue;

		&_active, &:hover  {
			background-color: $mineLightenBlue;
		}		

	}
	&--samp {
		background-color: $brown;

		&_active, &:hover  {
			background-color: $orange;
		}		

	}
}