

.projects {
	width: span(5);
	position: absolute;
	top: 0;
	left: -10%;
	@include breakpoint($xs) {
		width: span(9);
	}

} 
.projects--minecraft {
}
.projects--samp {
	// margin-top: 100px;
}

.projectsNav {
	width: 100%;
	justify-content: space-around;
	flex-direction: column;
}
.projectsNav--minecraft {
}
@import '__button.scss';