

.projects {
	width: span(4);
	@include center-block;
	margin-top: 120px;
	@include breakpoint($md) {
		margin-top: 125px;
	}
	@include breakpoint($sm) {
		margin-top: 130px;
	}
	@include breakpoint($xs) {
		width: span(10);
	}
} 

.projectsNav {
	width: 100%;
	justify-content: space-around ;
}
@import '__button.scss';