

.projects {
	margin-top: 119px;
	width: span(4);
	@include center-block;
	@include breakpoint($xs) {
		width: span(10);
	}
} 

.projectsNav {
	width: 100%;
	justify-content: space-around ;
}
@import '__button.scss';