.server__status {
	@include base-perspective-roof($mineLightenBrown);
	@extend %buttonShadow;
	margin-top: 45px $i;
	&, > .bar {
		height: 30px !important;
		border-radius: 0 !important;
	}
	&--text {
		color: $lightGray;
		@extend %absolute;
		top: -28px;
		left: 45%;
	}
	&::after {
		@include breakpoint($xs) {
			left: 3px;
		}
	}
}

.server__status--minecraft {
	background-color: $mineBrown $i;
	@extend .defaultTopMargin;
	& > .bar {
		background-color: $mineOrange $i;
	} 

}
// .server__status--samp {
// 	background-color: $brown !important;
// 	& > .bar {
// 		background-color: $orange !important;
// 	} 

// }