.figure__img {
	@include responsive-background;
	width: 100%;
	z-index: 4;
	&--steve_with_bow {
		background-image: url('../img/minecraft/steve_with_bow_color.png');
		padding-bottom: (239% / 265 * 100);
	}
	&--chicken {
		background-image: url('../img/minecraft/chicken_color.png');
		padding-bottom: (153% / 127 * 100);		
	}
	// &--car {
	// 	padding-bottom: (285% / 441 * 100);
	// 	background-image: url('../img/samp/car.png');	
	// }
	// &--helicopter {
	// 	padding-bottom: (141% / 195 * 100);
	// 	background-image: url('../img/samp/helicopter.png');
	// }
	// &--man {
	// 	padding-bottom: (253% / 160 * 100);
	// 	background-image: url('../img/samp/man.png');	
	// }
}