.figure__img {
	@include responsive-background;
	width: 100%;
	// &--steve {
	// 	padding-bottom: (249% / 187 * 100);
	// 	background-image: url('../img/minecraft/steve.png');			
	// }
	// &--squid {
	// 	padding-bottom: (171% / 139 * 100);
	// 	background-image: url('../img/minecraft/squid.png');				
	// }
	&--steve_with_bow {
		background-image: url('../img/minecraft/steve_with_bow.png');
		padding-bottom: (225% / 299 * 100);
		// transform: rotate(-10deg);
	}
	&--chicken {
		background-image: url('../img/minecraft/chicken.png');
		padding-bottom: (153% / 127 * 100);		
	}
	&--car {
		padding-bottom: (285% / 441 * 100);
		background-image: url('../img/samp/car.png');	
	}
	&--helicopter {
		padding-bottom: (141% / 195 * 100);
		background-image: url('../img/samp/helicopter.png');
	}
	&--man {
		padding-bottom: (253% / 160 * 100);
		background-image: url('../img/samp/man.png');	
	}
}