.figure {
	position: absolute;
	width: 100%;
	z-index: -1;
	@include breakpoint($xs) { 
		display: none;
	}
	&--steve {
		max-width: 187px;
		top: (99% / 387) * 100;
		left: (110% / 1366 * 100);
	}
	&--squid {
		max-width: 139px;
		top: 99px;
		right: (219% / 1366 * 100);
	}
	&--car {
		top: 39px;
		left: 0;
		max-width: 441px;
	}
	&--helicopter {
		top: 43px;
		right: (247% / 1366 * 100);
		max-width: 195px;
	}
	&--man {
		bottom: 0;
		right: 0;
		max-width: 160px;	
	}
}
@import '__img.scss';