.figure {
	@extend %absolute;
	width: 100%;
	z-index: -1;
	@include breakpoint($xs) { 
		display: none;
	}
	&--steve_with_bow {
		bottom: 0;
		left: (106% / 1366 * 100);
		max-width: 265px;
	}
	&--chicken {
		bottom: 70px;
		right: (166% / 1366 * 100);
		max-width: 127px;
	}
	// &--car {
	// 	top: 39px;
	// 	left: 0;
	// 	max-width: 441px;
	// }
	// &--helicopter {
	// 	top: 43px;
	// 	right: (247% / 1366 * 100);
	// 	max-width: 195px;
	// }
	// &--man {
	// 	bottom: 0;
	// 	right: 0;
	// 	max-width: 160px;	
	// }
}
@import '__img.scss';