.header {
	@extend %relative;
	z-index: 2;
	@extend %navItemShadow;
}
.header--minecraft, .header--samp {
	border-bottom: 3px solid;
}	
.header--minecraft {
	padding-top: 75px;
	min-height: 387px;
	background-color: $mineBrown;	
	border-bottom-color: $mineDarkenBrown;
}

.header--samp {
	background-color: $blue;	
	min-height: 368px;
	border-bottom-color: $darkBlue;
}

// Общие классы
.projectsNav, .navList {
  @include flexable('inline-flex', 'row nowrap', 'space-between', 'center');
}
@import 'brand/brand.scss';
@import 'projectsNav/projectsNav.scss';
@import 'navigation/navigation.scss';
@import 'figure/figure.scss';
