@import '__refer.scss';

.navItem {
  // @include span(2 last);
  width: 15%;
  display: inline-block;
  text-align: center;
  @include breakpoint($xs) {
    width: 100%;
  }
  
  &.active .navItem__refer {
	border-bottom: 3px solid $green;
	&::after {
		content: none;
	}
  }
} 