.contentWrapper {
	@include susy-clearfix;
	padding-bottom: 185px;
	& > .container {
		@include span(9);
		padding: 75px 0 0 20%;
		@include breakpoint($lg) {
			padding-right: 10%;
		}
		@include breakpoint(1400px) {
			padding-left: 30%;
			padding-right: 0;
		}
		@include breakpoint($md) {
			@include span(8);
		}
		@include breakpoint($sm) {
			@include span(7);
			padding-left: 10%;
		}
		@include breakpoint($xs) {
			width: 100% !important;
			padding-left: 10%;
			padding-right: 10%;
			margin: 0 !important;
		}
	}
}