.footerContacts {
	color: $lightGray;
	font-size: $firstSizeHeading;
 }
// Общие стили
.footerContacts__icon--minecraft i, .author__refer--minecraft {
	@include link-colors($one-color: $green !important);
	&:hover {
		color: lighten($green, 15%) !important;
	}
}
.footerContacts__icon--samp i, .author__refer--samp {
	@include link-colors($one-color: $orange !important);
	&:hover {
		color: lighten($orange, 15%) !important;
	}
}
.footerContacts__icon, .author__refer {
	&:hover {
		background-color: transparent;
	}
}

@import '__icon.scss';
@import 'author/author.scss';
