.footerContacts {
	color: $lightGray;
	font-size: $firstSizeHeading;
 }
// Общие стили
.footerContacts__icon--minecraft i, .author__refer--minecraft {
	@include link-colors($one-color: $green);
	&:hover {
		color: darken($green, 5%);
	}
}
.footerContacts__icon, .author__refer {
	&:hover {
		background-color: transparent;
	}
}

@import '__icon.scss';
@import 'author/author.scss';
