.userPanel {
	@include span(4 last);
	padding-top: 75px;
	min-height: 100vh;
	max-width: 300px;
	& .container{
		width: 80%;
	}
	$borderUserPanelStyles: 10px solid $darkenLightGray;
	border-left: $borderUserPanelStyles;
	@include breakpoint($xs) {
		width: 100%;
		max-width: none;
		margin: 0;
		border-right: $borderUserPanelStyles;
	}
}

@import 'server/server.scss';
// If you see it, try to replace name of a folder 'loginFrom' as 'logInForm'
// and change this path as well. I could not do it.
@import 'loginFrom/logInForm.scss';