.navItem__refer {
  color: $lightGray !important;
  font-size: $firstSizeHeading;
  padding: 5% 0;
  @extend %relative;
  @extend %block;
  @extend %navItemShadow;
  &::after {
    content: "";
    height: 3px;
    @include center-block;
    @extend %absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    transition: width 0.5s, left 0.5s;
    @include breakpoint($xs) {
      content: none;
    }
  }
  @include smooth-transition-button;
  &--minecraft {
      background-color: $mineLightenBrown;
      // border-radius: 5px;
    &::after {
      background-color: $mineBlue;
    }
  }
  &--samp {
    &::after {
      background-color: $orange;
    }
  }
  &:hover {
    &::after {
      width: 100%;
      left: 0;
    }
  }
  &:visited {
     color: $lightGray;
  }
  &:hover {
    background-color: transparent;
  }
  &:active {
    color: $lightGray;
    @extend %navItemShadow--active;
  }
  @include breakpoint($md-less) {
     font-size: (18em / 16);
  }
  @include breakpoint($xs) {
    padding-bottom: 0;
    font-size: $firstSizeHeading;
    background-color: transparent;
    box-shadow: none $i;
  }
  @include breakpoint($xxs) {
    
  }
}