@import '__refer.scss';

.navItem {
  // @include span(2 last);
  width: 15%;
  display: inline-block;
  text-align: center;
  @include breakpoint($xs) {
    width: span(8);
    padding: 4%;
    @include center-block;
    display: block !important;
    border-radius: 10px;
    max-height: 80px;
  }
  transition: background-color 0.5s;
  $darkenDrakGray: darken($darkGray, 5%);
  &:hover {
    @include breakpoint($xs) {
       background-color: $darkenDrakGray;
    }
  }
  &.active {
    @include breakpoint($xs) {
      
      background-color: $darkenDrakGray;
    }
    
  }
  &.active .navItem__refer {
    border-bottom: 3px solid;
    &--minecraft {
      border-bottom-color: $green;
    }
    &--samp {
      border-bottom-color: $orange;
    }
    @include breakpoint($xs) {
      border: none;
    }
  	&::after {
  		content: none;
  	}
  }
} 