.mainPageContent {
	min-height: 1000px;
	position: relative;
	top: 15vh;
	@include breakpoint($lg) { 
		top: 10vh;
	}
	@include breakpoint($xs) { 
		background: -webkit-linear-gradient(top, transparent 0%, transparent 30%, lighten($darkGray, 5%) 30%, lighten($darkGray, 5%) 80%, $purple 80%, $purple 100%);
		top: 100px;
	}
	@include breakpoint($xxs) {
		min-height: auto;
	}	

	&::after { 
		bottom: -23%;
		@include responsive-background($url:'../img/footer.png');
		background-size: 100% 100%;	
	}	
}

@import 'mainPageContentChief/mainPageContentChief.scss';