.header {
	position: relative;
	z-index: 2;
}
.header--minecraft {
	background-color: $darkGreen;	
	min-height: 387px;
	border-bottom: 2px solid $paleGreen;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		background: url('../img/minecraft/grass.png') repeat center;
		background-size: 216px 175px;
		height: 175px;
	}
}

// Общие классы
.projectsNav, .navList {
  @include flexable('inline-flex', 'row nowrap', 'space-between', 'center');
}
@import 'brand/brand.scss';
@import 'projectsNav/projectsNav.scss';
@import 'navigation/navigation.scss';
@import 'figure/figure.scss';
