.header {
	position: relative;
	z-index: 2;
}
.header--minecraft, .header--samp {
	border-bottom: 3px solid;
}	
.header--minecraft {
	min-height: 387px;
	background-color: $darkGreen;	
	border-bottom-color: $paleGreen;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		background: url('../img/minecraft/grass.png') repeat center;
		background-size: 216px 175px;
		height: 175px;
		z-index: -1;
	}
}

.header--samp {
	background-color: $blue;	
	min-height: 368px;
	border-bottom-color: $darkBlue;
}

// Общие классы
.projectsNav, .navList {
  @include flexable('inline-flex', 'row nowrap', 'space-between', 'center');
}
@import 'brand/brand.scss';
@import 'projectsNav/projectsNav.scss';
@import 'navigation/navigation.scss';
@import 'figure/figure.scss';
